<div class="container">
  <div><form [formGroup]="useradd">
    <!-- <div class="row">
      <label> Id</label>
      <input class="form-control form-control-sm rounded-0"  type="text" placeholder="Please enter first name" formControlName="firstName" >
      <div *ngIf="useradd.controls['firstName'].invalid && useradd.controls['firstName'].errors.required && useradd.controls['firstName'].touched" class="alert alert-danger">First Name is required.</div>
    </div> -->
    <div class="row">
      <label> Name:</label>
      <input class="form-control form-control-sm rounded-0"  type="text" placeholder="Please enter first name" formControlName="firstName" >
      <div *ngIf="useradd.controls['firstName'].invalid && useradd.controls['firstName'].errors.required && useradd.controls['firstName'].touched" class="alert alert-danger">First Name is required.</div>
    </div>

    <div class="row">
      <label>Home Country</label>
      <input class="form-control form-control-sm rounded-0"  type="text" placeholder="Please enter employee id" formControlName="homecountry">
      <div *ngIf="useradd.controls['homecountry'].invalid && useradd.controls['homecountry'].errors.required && useradd.controls['homecountry'].touched" class="alert alert-danger">Home Country is required</div>
    </div>
    <div class="row">
      <label>Email Id</label>
      <input type="email"  class="form-control form-control-sm rounded-0"  placeholder="Please enter last name" type="text" formControlName="email">
      <div *ngIf="useradd.controls['email'].invalid && useradd.controls['email'].errors.required && useradd.controls['email'].touched" class="alert alert-danger">Email ID is required</div>
    </div>

    <div class="row">
      <label>UserName</label>
      <input class="form-control form-control-sm rounded-0"  placeholder="Please enter last name" type="text" formControlName="userName">
      <div *ngIf="useradd.controls['userName'].invalid && useradd.controls['userName'].errors.required && useradd.controls['userName'].touched" class="alert alert-danger">User Name is required</div>
    </div>

    <div class="row">
      <label>Password</label>
      <input class="form-control form-control-sm rounded-0"  placeholder="Please enter last name" type="text" formControlName="password">
      <div *ngIf="useradd.controls['password'].invalid && useradd.controls['password'].errors.required && useradd.controls['password'].touched" class="alert alert-danger">Password is required</div>
    </div>
    <div>
    <!-- <div  *ngIf="!isEdit" class="row button">  -->
      <button class="btn btn-primary float-right" (click)="signUp()">SignUp</button>
      <button  ><a [routerLink]="['/login']">Already a Member? Log in</a></button>

    </div>
  </form>
  </div>
</div>