<div class="align">
  <h1>MOJO</h1>
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink='signup'  routerLinkActive="active-link" role="tab" aria-controls="pills-contact" aria-selected="false">Register User</a>
  </li>

  <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink='login' routerLinkActive="active-link" role="tab" aria-controls="pills-contact" aria-selected="false">Login</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" role="tab" routerLink='currencyinfo' routerLinkActive="active-link" aria-controls="pills-contact" aria-selected="false">Currency Calculator</a>
  </li>
  </ul>
</div>

<footer class="footer">
  <div class="container">
  <div class="content has-text-centered">
  <p>
        Instant Money Transfer
  </p>    
  </div>
  </div>
</footer>

<router-outlet>
  </router-outlet>
